*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#080808;
    color:#fff;
    padding-top:100px;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

/* HEADER */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#080808;
    border-bottom:1px solid #222;
    z-index:9999;
}

.logo-bar{
    height:50px;
    display:flex;
    align-items:center;
    padding:0 16px;
    font-size:20px;
    font-weight:900;
}

.navbar{
    height:50px;
    display:flex;
    overflow-x:auto;
    white-space:nowrap;
    border-top:1px solid #151515;
    scrollbar-width:none;
}

.navbar::-webkit-scrollbar{
    display:none;
}

.navbar a{
    padding:0 16px;
    height:50px;
    display:flex;
    align-items:center;
    color:#aaa;
    transition:.2s;
}

.navbar a:hover{
    color:#fff;
}

.navbar a.active{
    color:#fff;
    border-bottom:2px solid #ff2b3a;
}

/* SECTION */

.section{
    padding:14px 12px;
}

.section-title{
    font-size:14px;
    font-weight:800;
    letter-spacing:
